.image-wrapper:hover {
  flex: 3; /* hovered item grows */
}

.image-wrapper:not(:hover) {
  flex: 1; /* others shrink equally */
}

.image-wrapper:hover img {
  transform: scale(1.03);
  filter: blur(1.5px) grayscale(80%);
}


::-webkit-scrollbar {    
  height: 2px; /* Use height for horizontal scrolling */
  width: 4px;  /* Keep this too, for vertical scroll areas */
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0);
}

::-webkit-scrollbar-button {
  display: none;
}


.banner-hero-style{
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 10px 20px;
}

.banner-title-style{
  color: #fff;
  font-family: Alegreya Sans;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2;
  margin-bottom: 0;
  padding:0;font-size: 38px;
}

@media screen and (min-width: 768px) {
 .banner-title-style{
   font-size:24px;
 } 
}

.banner-subtitle-style{

    margin-top: 5;
  color: #fff;
  font-family: Alegreya Sans;
  font-weight: 300;
  text-align: center;
}

.cta-btn-style{  
  background: #919075;
  border-radius: 18;
  font-size: 16;
  font-family: Raleway;
  font-weight: 400;
  padding: 0 25px;
  height: 40;
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  cursor: pointer;
}

.cta-btn2-style{ 
  color: "#fff";
  background: "rgba(0,0,0,0)";
  border-radius: 18;
  font-size: 16;
  font-family: Raleway;
  font-weight: 400;
  padding: 0 25px;
  height: 40;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border: 2px solid #fff;
  cursor: pointer;}

  