.image-wrapper:hover {
  flex: 3; /* hovered item grows */
}

.image-wrapper:not(:hover) {
  flex: 1; /* others shrink equally */
}

.image-wrapper:hover img {
  transform: scale(1.03);
  filter: blur(1.5px) grayscale(80%);
}


::-webkit-scrollbar {    
  height: 2px; /* Use height for horizontal scrolling */
  width: 4px;  /* Keep this too, for vertical scroll areas */
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0);
}

::-webkit-scrollbar-button {
  display: none;
}
